.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100dvh;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 9999;

  overflow: hidden;
  pointer-events: none;

  .menu {
    width: 100%;
    position: relative;
    max-width: var(--width-menu);
    padding: var(--padding-page);

    .float {
      pointer-events: visible;

      display: grid;

      column-gap: var(--spacing);
      align-items: center;
      padding: var(--padding-mini);
      border-radius: var(--radius);

      background-color: color-mix(
        in srgb,
        var(--color-background) var(--opacity-medium),
        transparent
      );

      backdrop-filter: blur(var(--blur-light));

      font-family: var(--font-mono);
      font-size: var(--font-upper);
      line-height: 1em;
      text-transform: uppercase;
      color: var(--color-text);

      .avatar {
        width: 100%;
        aspect-ratio: 1;
      }

      h1 {
        font-weight: var(--font-semibold);
      }

      p {
        opacity: 0.5;
      }

      button {
        all: unset;
        display: grid;
        place-content: center;
        width: 100%;
        aspect-ratio: 1;
        cursor: pointer;

        .icon {
          width: 1.5rem;
          height: 1.5rem;
        }

        &:hover .icon rect {
          &.top {
            y: 5;
          }
          &.bottom {
            y: 17;
          }
        }
      }

      @media only screen and (min-width: 768px) {
        grid-template-columns: var(--width-menu-card) max-content auto var(
            --width-hamburger
          );
      }

      @media only screen and (max-width: 767px) {
        grid-template-columns: var(--width-menu-card) auto var(
            --width-hamburger
          );

        grid-template-areas: 'avatar title menu' 'avatar subtitle menu';
        row-gap: var(--gap);

        .avatar {
          grid-area: avatar;
        }
        h1 {
          grid-area: title;
          align-self: flex-end;
        }
        p {
          grid-area: subtitle;
          align-self: flex-start;
        }
        button {
          grid-area: menu;
        }
      }
    }
  }
}

.icon {
  fill: none;

  rect {
    fill: var(--color-text);
    transition: all var(--transition-time) var(--transition-ease);
  }
}
