.wrapper {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  left: 0;
  top: 0;
  z-index: 99999;

  .canvas {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100dvh;
    touch-action: none;
  }
}
