body {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-small: 0.65rem;
  --font-upper: 0.85rem;

  --font-normal: 400;
  --font-semibold: 700;

  --color-background: #222;
  --color-text: #fff;
  --color-base: #0000ff;

  --opacity-medium: 50%;
  --opacity-dark: 75%;

  --blur-light: 2rem;

  --radius: 0.5rem;
  --padding-section: 2.75rem;
  --padding-mini: 0.5rem;
  --padding-page: 2rem;

  --gap: 0.75rem;
  --spacing: 1.5rem;

  --width-menu: 675px;
  --width-panel: 750px;
  --width-menu-card: 2.75rem;

  font-family: var(--font-sans);
  font-optical-sizing: auto;
  font-weight: var(--font-normal);
  font-style: normal;
  background-color: var(--color-base);

  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100dvh;
  touch-action: none;
  overflow: hidden;

  @media only screen and (max-width: 767px) {
    --padding-section: 1.25rem;
    --padding-mini: 0.45rem;
    --padding-page: 0.5rem;

    --gap: 0.5rem;
    --spacing: 0.75rem;

    // --width-menu: 675px;
    // --width-panel: 750px;
    --width-menu-card: 1.4rem;
    --font-small: 0.55rem;
    --font-upper: 0.75rem;
  }
}

