.wrapper {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  pointer-events: visible;
  padding: var(--padding-page);

  @media only screen and (max-width: 767px) {
    padding-top: var(--padding-section);
  }

  display: grid;
  justify-items: center;
  align-items: end;

  .overlay {
    width: 100vw;
    height: 100dvh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;

    background-color: color-mix(
      in srgb,
      var(--color-background) var(--opacity-medium),
      transparent
    );
  }

  .window {
    --header-height: calc(var(--padding-section) * 2 + 1rem);

    position: relative;
    z-index: 1;

    width: 100%;
    display: grid;
    grid-template-rows: var(--header-height) calc(100% - var(--header-height));
    height: max-content;
    max-height: calc(100dvh - (var(--padding-page) * 2));

    @media only screen and (max-width: 767px) {
      max-height: calc(100dvh - (var(--padding-page) + var(--padding-section)));
    }

    position: relative;
    max-width: var(--width-panel);

    padding: 1rem var(--padding-mini) 0 var(--padding-mini);
    border-radius: calc(var(--radius) + var(--padding-mini));

    background-color: color-mix(
      in srgb,
      var(--color-background) var(--opacity-dark),
      transparent
    );

    backdrop-filter: blur(var(--blur-light));
    color: var(--color-text);

    .handler {
      position: absolute;
      left: 50%;
      top: 0;
      width: 10rem;
      height: 2rem;
      transform: translateX(-50%);
      display: grid;
      place-items: center;
      cursor: grab;

      .thumb {
        width: 100%;
        height: 3px;
        clip-path: inset(0 round 3px);
        background-color: color-mix(
          in srgb,
          var(--color-text) 20%,
          transparent
        );

        span {
          display: block;
          width: 100%;
          height: 100%;
          clip-path: inset(0 round 3px);
          background-color: var(--color-text);
        }
      }
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: var(--header-height);
      padding-inline: calc(var(--padding-section) - var(--padding-mini));

      h1 {
        font-family: var(--font-mono);
        // font-size: var(--font-upper);
        line-height: 1em;
        text-transform: uppercase;
        font-weight: var(--font-semibold);
      }
    }

    .content {
      overflow-y: auto;
      height: 100%;
      border-radius: var(--radius);

      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

