.wrapper {
  position: relative;
  width: 100vw;
  height: 100dvh;

  .canvas {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100dvh;
    touch-action: none;
  }

  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: inset 0px 0px 15vw 5vw rgba(0, 0, 0, 0.35);
    background:
      linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
      linear-gradient(
        90deg,
        rgba(255, 0, 0, 0.06),
        rgba(0, 255, 0, 0.02),
        rgba(0, 0, 255, 0.06)
      );
    z-index: 999;
    background-size:
      100% 2px,
      3px 100%;
    pointer-events: none;
    opacity: 0.3;

    @media only screen and (max-width: 767px) {
      & {
        position: absolute;
      }
    }
  }
  &:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    // animation: flicker 0.15s infinite;
  }

  // @keyframes flicker {
  //   0% {
  //     opacity: 0.4;
  //   }
  //   5% {
  //     opacity: 0.481234;
  //   }
  //   10% {
  //     opacity: 0.525678;
  //   }
  //   15% {
  //     opacity: 0.454321;
  //   }
  //   20% {
  //     opacity: 0.488901;
  //   }
  //   25% {
  //     opacity: 0.403456;
  //   }
  //   30% {
  //     opacity: 0.552345;
  //   }
  //   35% {
  //     opacity: 0.478912;
  //   }
  //   40% {
  //     opacity: 0.599876;
  //   }
  //   45% {
  //     opacity: 0.435789;
  //   }
  //   50% {
  //     opacity: 0.510234;
  //   }
  //   55% {
  //     opacity: 0.454987;
  //   }
  //   60% {
  //     opacity: 0.560123;
  //   }
  //   65% {
  //     opacity: 0.588456;
  //   }
  //   70% {
  //     opacity: 0.481345;
  //   }
  //   75% {
  //     opacity: 0.559876;
  //   }
  //   80% {
  //     opacity: 0.592345;
  //   }
  //   85% {
  //     opacity: 0.480123;
  //   }
  //   90% {
  //     opacity: 0.506789;
  //   }
  //   95% {
  //     opacity: 0.548901;
  //   }
  //   100% {
  //     opacity: 0.589456;
  //   }
  // }
}

