.info {
  padding-block: var(--padding-section)
    calc(var(--padding-section) + var(--gap));
  border-top: 1px
    color-mix(in srgb, var(--color-text) var(--opacity-light), transparent)
    solid;

  display: flex;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: var(--padding-page);
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    gap: var(--padding-section);
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    h2 {
      font-family: var(--font-mono);
      font-size: var(--font-small);
      text-transform: uppercase;
    }

    p {
      line-height: 1.25em;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
