#experiment {
    padding-top: calc(var(--section-padding) * 3);
    padding-bottom: calc(var(--section-padding) * 4);
    overflow: hidden;
}
#experiment h2 {
    margin-bottom: calc(var(--section-padding) * 2);
}

@media screen and (min-width: 767px) {
    #experiment h2 {
        grid-area: 1 / 3 / 2 / 13;
    }
    #experiment .list {
        grid-area: 2 / 3 / 3 / 13;
    }
}

@media screen and (max-width: 767px) {
    #experiment h2,
    #experiment .list {
        grid-area: auto;
        grid-column: span 6;
    }
}

/*#experiment .f-carousel {
    --f-carousel-spacing: var(--grid-gutter);
}
#experiment .f-carousel .f-carousel__viewport {
    overflow: visible;
}
#experiment .list .experiment {
    width: calc(100% / 2.5 - (var(--grid-gutter) / 3 * 2) + 1px);
}
@media screen and (max-width: 767px) {
    #experiment .list .experiment {
        width: calc(100% / 1.5 - (var(--grid-gutter) / 2) + 3px);
    }
}*/
#experiment .list .slick-slider .slick-list {
    overflow: visible;
}
#experiment .list .slick-slide {
    /*width: calc((100vw - var(--grid-gutter) * 2) / 3 - (var(--grid-gutter)));*/
    width: calc((100vw - var(--grid-gutter) * 2) / 4 - (var(--grid-gutter)));
    margin-right: var(--grid-gutter);
}
@media screen and (max-width: 767px) {
    #experiment .list .slick-slide {
        width: calc(100vw / 1.5 - (var(--grid-gutter) * 1.5) - 3px);
    }
}

#experiment .list .slick-slider .slick-arrow {
    position: absolute;
    color: var(--tag-color);
    background-color: var(--bg-button);
    line-height: 1em;
    padding: 10px;
    width: clamp(32px, 16px + 2vw, 40px);
    height: clamp(32px, 16px + 2vw, 40px);
    border-radius: 100%;
    transition: all var(--transition-time) var(--transition-ease);
    top: 0;
}
#experiment .list .slick-slider .slick-arrow:before {
    display: block;
    font-family: inherit;
    content: '';
    background: var(--highlight);
    mask-image: url(./images/arrow.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center bottom;
    transform-origin: center;
    width: 100%;
    height: 100%;
    transform-origin: center;
}

@media screen and (min-width: 767px) {
    #experiment .list .slick-slider .slick-arrow.slick-next {
        left: calc((20% - (var(--grid-gutter)/2)) * -1);
        top: calc(var(--section-padding)* -2);
        transform: translate(100%, -100%);
    }
    #experiment .list .slick-slider .slick-arrow.slick-prev {
        left: calc((20% + 2px) * -1);
        right: auto;
        top: calc(var(--section-padding)* -2);
        transform: translate(0, -100%);
    }
}
@media screen and (max-width: 767px) {
    #experiment .list .slick-slider {
        padding-top: clamp(42px, 26px + 2vw, 50px);
    }
    #experiment .list .slick-slider .slick-arrow.slick-next {
        left: 8px;
        top: 0;
        transform: translate(100%, 0);
    }
    #experiment .list .slick-slider .slick-arrow.slick-prev {
        left: 0;
        right: auto;
        top: 0;
        transform: translate(0, 0);
    }
}
#experiment .list .slick-slider .slick-arrow.slick-next:before {
    transform: rotate(-90deg);
}
#experiment .list .slick-slider .slick-arrow.slick-prev:before {
    transform: rotate(90deg);
}
#experiment .list .experiment > a {
    display: block;
    text-decoration: none;
    color: var(--font-color);
}
#experiment .list .experiment figure {
    position: relative;
    overflow: hidden;
    border-radius: var(--grid-gutter);
    margin-bottom: calc(var(--grid-gutter) / 2);
}
#experiment .list .experiment figure img {
    width: 100%;
    display: block;
}
#experiment .list .experiment .text .info {
    margin-bottom: 0.5em;
}
#experiment .list .experiment .text .preview p {
    line-height: 1.3em;
}