#work {
    padding-block: calc(var(--section-padding) * 3.5);
}

#work .column {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    column-gap: calc(var(--grid-gutter) / 2);
    row-gap: var(--grid-gutter);
}

@media screen and (min-width: 767px) {
    #work.more .column {
        flex-direction: row;
        column-gap: var(--grid-gutter);
    }
    #work.more article.project:not(.active) {
        width: calc((100% / 3) - ((var(--grid-gutter) / 3) * 2));
    }
}
@media screen and (max-width: 767px) {
    #work.more article.project:not(.active) {
        width: 100%;
    }
}

#work article.project {
    width: calc(50% - (var(--grid-gutter) / 2));
    flex-grow: 1;
    position: relative;
}

@media screen and (min-width: 767px) {
    #work .break {
        width: 0;
        height: auto;
        flex-basis: 100%
    }
}
@media screen and (max-width: 767px) {
    #work .break {
        display: none;
    }
    #work article.project {
        width: 100%;
    }
}
#work article.project > a {
    display: block;
    color: var(--font-color);
    text-decoration: none;
}
#work article.project header {
    cursor: var(--cursor-pointer);
}
#work article.project header figure {
    position: relative;
    overflow: hidden;
    border-radius: var(--grid-gutter);
    margin-bottom: calc(var(--grid-gutter) / 2);
    background-color: var(--bg-light);
}
#work article.project header figure img {
    display: block;
    width: 100%;
}
#work article.project header .text .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}
#work article.project header .text .info h3 {
    font-size: 1.3rem;
    font-weight: 550;
    text-transform: lowercase;
}
#work article.project header .text .preview p {
    line-height: 1.3em;
}