.cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  pointer-events: none;
  z-index: 1000;

  .label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    column-gap: 1ch;

    position: absolute;
    bottom: 0.3rem;
    left: 0.3rem;

    max-width: max-content;
    white-space: nowrap;

    transform-origin: left bottom;

    background-color: var(--color-background);
    color: var(--color-text);
    padding: 0.5em;
    border-radius: 0.25em;
    pointer-events: none;

    font-family: var(--font-mono);
    font-size: var(--font-button);
    line-height: 1em;
    text-transform: uppercase;
    font-weight: var(--font-normal);
    text-decoration: none;
    text-box: trim-both cap alphabetic;

    transform: scale(0);
    transition: transform (--transition-time) var(--transition-ease);

    &.visible {
      transform: scale(1);
    }

    .title {
      font-weight: var(--font-semibold);
    }
    .subtitle {
      opacity: 0.5;
    }

    @media only screen and (max-width: 767px) {
      display: none !important;
    }
  }
}

