.ui {
  position: fixed;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100dvh;
  z-index: 9999;

  overflow: hidden;
  pointer-events: none;

  display: grid;
  grid-template-areas: 'stack';

  .clock {
    grid-area: stack;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: left;
  }

  .menu {
    grid-area: stack;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 2;
  }
}
