.ui {
  position: fixed;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100dvh;
  z-index: var(--z-index-ui);

  overflow: hidden;
  pointer-events: none;

  display: flex;
  justify-content: space-between;
  padding: calc(var(--padding-page) * 0.5);

  .clock {
    display: flex;
    align-items: flex-start;
    justify-content: left;
  }

  .filter {
    display: flex;
    align-items: flex-start;
    justify-content: right;
  }
}
